body {
width: 100%;
margin: 0px;
font-family:Arial;
background-color: white;
color:black;
}

div.container{
background-color:white;
margin-left: 220px;
margin-right: 20px;
}

h1 {
font-size:36px;
font-weight:bold;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: black;
margin:5px 0px;
margin-bottom: 20px;
padding-bottom: 10px;
padding-right: 10px;
}

h2 {
margin-top: 40px;
margin-bottom:0px;
font-size:18px;
font-weight:bold;
color: #283747;
}

h3 {
font-size:20px;
}

p {
font-size:16px;
margin-top:0px;
}

a {
color: #34495e;
text-decoration: underline;
}

a:hover { 
	color: #93271b;
	text-decoration: underline;
}

img {
margin-top: 20px;
margin-bottom: 10px;
display: block;

}

.pre {
    display: inline;
    font-family: monospace;
}

nav
{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	background-color: #566573;
	color: white;
	border-right: 5px solid #85929E;
	box-shadow: 4px 0 5px #D4E6F1;
	z-index: 1;
	cursor: pointer;
}

nav ul
{
	list-style-type: none;
	margin: 0;
	padding: 1em;
}

nav a:link, nav a:visited
{
	display: flex;
	width: 100%;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.8em;
	text-decoration: none;
	outline: 0 none;
	color:  #d6dbdf;
}

#navmenu a:hover, nav a:focus
{
	color: #223447;
	background-color: #aeb6bf ;
	margin: 0px -10px;
	padding-left:10px;
}

#navmenu h2
{
	 margin: 0px;
	 background-color: #1c2833; 
	 color: #abb2b9;
	 padding: 5px 0px;
	 font-size:20px; 
	 line-height: 2.5em;
	 text-indent: 14px;
}

hr.copyright
{
	margin-top: 50px;
}

#copyright {
font-size:12px;
font-style:italic;
}