body {
width: 370px;
margin: 0 auto;
font-family:'Open Sans Condensed', sans-serif;
background-color: black;
}
div.pic{
background-color: #000;
width:770px;
height: 200px;
position: center;
}
div.container{
position: center;
background-color:black;
width: 370px;
padding: 20px;
margin: 0 auto;
}
h1,h2,h3,p {
background-color:black;
width: 370px;
text-align: center;
color:white;
font-family:Arial;
}

hr{
color: white;
}

h1 {
font-size:35pt;
}

h2 {
font-size:24pt;
}

h3 {
font-size:22pt;
}

p {
font-size:21pt;
}

a {
color: white;
text-decoration: none;
}

img{
  position: center;
}

.button4 {
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: black;
  border: 3px solid #e7e7e7;
}

.button4:hover {
  background-color: gray;
}

.awesome {
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  border: 5px solid #e7e7e7;
}

nav
{
	position: fixed;
	left: -16em;
	top: 0;
	bottom: 0;
	background-color: black;
	border-right: 30px solid #85929E;
	box-shadow: 4px 0 5px #D4E6F1;
	z-index: 1;
	cursor: pointer;
}

nav:after
{
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	right: 0px;
	top: 50%;
	border-width: 15px 10px;
	border-style: solid;
	border-color: transparent transparent transparent;
}

nav ul
{
	width: 14em;
	list-style-type: none;
	margin: 0;
	padding: 1em;
}

nav a:link, nav a:visited
{
	display: flex;
	width: 100%;
	font-weight: bold;
	font-size: 18pt;
	line-height: 2.5em;
	text-decoration: none;
  text-indent: 10px;
  text-align: center;
	outline: 0 none;
}

nav a:hover, nav a:focus
{
	color: black;
	background-color:  #2c3e50 ;
	text-shadow: white;
	box-shadow:white;
}



nav, nav *
{
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

nav:hover
{
	left: 0;
}

nav:hover ~ article
{
	-webkit-transform: translateX(16em) perspective(600px) rotateY(10deg);
	-moz-transform: translateX(16em) perspective(600px) rotateY(10deg);
	-ms-transform: translateX(16em) perspective(600px) rotateY(10deg);
	-o-transform: translateX(16em) perspective(600px) rotateY(10deg);
	transform: translateX(16em) perspective(600px) rotateY(10deg);
}

nav:hover ~ article:after
{
	left: 60%;
}

.menubtn
{
	background-color:#85929E; width:23px; font-size:30px; position:absolute; top:10px; right:-25px;
}
#navmenu a, #navmenu hr
{
	 color: #85929E;
}
